.menuContainer {
  padding: 2rem 2rem;

  // height: 100vh;

  // background: linear-gradient(to right, #0059d6, #003a8c);
  // background: linear-gradient(to right, #001e49, #002b68);
  // background: linear-gradient(to right, #e0e0e0, #ffffff);

  // background: var(--purple-800);

  // transform: scaleX();
  // transform: translate3d(-10vw, 0, 0);

  .link {
    display: flex;
    flex-direction: row;
    // align-items: center;
    // justify-content: center;

    color: #9c584b;

    .icon {
      padding-top: 0.3rem;
      padding-bottom: 1rem;
    }

    h3 {
      color: #9c584b;
      // padding: 0 -10rem;
      margin-left: 1rem;
      white-space: nowrap;
    }

    border-bottom: 1px solid rgba(255, 255, 255, 0.445);
  }

  display: flex;

  flex-direction: column;
  // align-items: center;
  justify-content: space-between;
}
