// .container {
//   display: flex;
//   // flex: 1;
//   align-items: center;
//   justify-content: center;
//   // position: relative;
//   width: 100vw;
//   height: 70vh;
//   margin: -1.1rem -1.1rem;
//   background: url("/header/home.png");
//   background-position: center;
//   background-size: cover;
//   background-repeat: no-repeat;
// }

.slide1 {
  display: flex;
  align-items: center;
  justify-content: center;
  // position: relative;
  width: 70vw;
  height: 20vh;
  // margin: -1.1rem -1.1rem;
  background: url("/header/home.png");
  background-color: black;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  background-size: 100%; //set the original size!!!!!!!!!!!!
  -webkit-transition: background-size 3s ease-in;
  transition: background-size 3s ease-in;

  .center {
    width: 70vw;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    h1 {
      color: white;
      // z-index: 999;
    }
  }
}

.slide1:hover {
  background-size: 110%;
}
