.container {
  display: flex;
  // flex: 1;
  align-items: center;
  justify-content: center;
  // position: relative;
  width: 100vw;
  height: 70vh;
  margin: -1.1rem -1.1rem;
  background: url("/header/home.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
